* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FF9900;
    height: 110px;
    font-size: 1.5em;
}

.cabecalho{
    display: flex;
    background-color: #203344;
    height: 100px;
}

img {
    height: 100px;
    width: 100px;
}

footer {
    background-color: #FF9900;
    height: 100px;
}

.rodape {
    background-color: #203344;
    height: 110px;
}